<footer>
    <div style="height: 10em; background-color: #f59957;border: 3px solid white; padding: 4em; border-radius: 15px;">
        <marquee class="text-center" width="100%" direction="up" height="150px">
            <h1 class="text-center" style="color: white;">Tim softwareDevelopers</h1>
            <h2 class="text-center" style="color: white;">Contacts: +254791417147</h2>
            <h3 class="text-center" style="color: white;">Parting short: Don't just code, do a great job!!</h3>
        </marquee>
    </div>
</footer>

