


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button style="padding-left: .2em;border-radius: 10px;"><a class="navbar-brand" href="{% url 'welcome' %}">BACK</a></button>
      </div>

      <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 navbar-right">

        <form class="navbar-form" role="search" action="{% url 'search_results' %}">

          <div class="input-group">
            <div>
              <input type="text" class="form-control" placeholder="Search" name="search"> 
            </div> <br> <br>
            <div class="input-group-btn">
              <button class="btn btn-dark" action="{% url 'search_results' %}" type="submit"><i class="glyphicon glyphicon-search"></i>Search</button>
            </div>
          </div>

        </form>
      </div>
      <!-- search form end -->
    </div>
  </nav>